@import url('https://fonts.googleapis.com/css?family=Happy+Monkey:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700');


p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    text-align: center;
}

a {
    color: inherit;
    font-style: italic;
}

header,
footer {
    background-color: steelblue;
    font-family: 'Happy Monkey', sans-serif;
    color: bisque;
    font-weight: 600;
}

header {
    padding-bottom: 15px;
}

footer {
    padding-top: 15px;
}

section {
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: firebrick;
    font-family: Raleway, sans-serif;
    color: aliceblue;
    font-weight: 600;
}

audio {
    height: 25px;
    width: 100%;
    max-width: 300px;
}

video {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    margin-top: 25px;
    margin-bottom: 7px;
}

.subheading {
    font-family: 'Happy Monkey', sans-serif;
    margin-bottom: 20px;
}

.main-body-content {
    min-height: calc(100vh - 232px);
}

.fa {
    padding: 0 5px;
}

.logo {
    background: url("../img/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 110px;
}

.thumbnail {
    padding: 1px;
    max-height: 180px;
}

.about-band,
.about-member,
.text-box {
    color: #222;
    background: rgba(230, 230, 250, 0.6);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.about-band {
    padding: 15px 10px;
}

.about-member {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.text-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.headshot-dj,
.headshot-mn,
.headshot-pt,
.headshot-md {
    /* Have to use !important as Chrome loses these settings when the below individual background urls apply */
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    min-height: 190px;
    padding: 0;
}

.headshot-dj {
    background: url("../img/dj_thumb.jpg");
}

.headshot-mn {
    background: url("../img/mn_thumb.jpg");
}

.headshot-pt {
    background: url("../img/pt_thumb.jpg");
}

.headshot-md {
    background: url("../img/md_thumb.jpg");
}

.form-control {
    margin-bottom: 3px;
}

.center-form {
    margin-top: 15px;
}

.center-form form button {
    margin-top: 5px;
    color: #222;
}

@media(max-width: 768px) {
    .about-band {
        margin-left: -10px;
        margin-right: -10px;
    }
    .about-member {
        margin-left: -5px;
        margin-right: -5px;
    }
}

@media(min-width: 992px) {
    .center-form {
        margin: 15px auto;
        max-width: 650px;

    }
}
