@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700');

/*************************** START: Global Elements ***************************/

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    text-align: center;
}

a {
    color: inherit;
    font-style: italic;
    text-decoration: none;
}

header,
footer {
    background-color: steelblue;
    font-family: 'Happy Monkey', sans-serif;
    color: bisque;
    font-weight: 600;
}

footer {
    padding-top: 15px;
}

section {
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: firebrick;
    font-family: Raleway, sans-serif;
    color: aliceblue;
    font-weight: 600;
}

audio {
    height: 25px;
    width: 100%;
    max-width: 300px;
}

video {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*************************** END: Global Elements *****************************/

/*************************** START: Global Classes ****************************/

/*---        Heading/Footer         ---*/

.logo {
    background: url("../img/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 110px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#nav_top {
    margin: 0;
    font-size: 18px;
}

#nav_top li {
    padding: 0px;
}

.menuitem {
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 80%;
    text-decoration: none;
    max-width: 200px;
}

.menuitem a:hover {
    color: #fff;
}

.menuitem span {
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.social-links li a:hover {
    color: #fff;
}

/*---        Main body              ---*/

.main-body-content {
    min-height: calc(100vh - 225px);
}

.subheading {
    font-family: 'Happy Monkey', sans-serif;
    margin-bottom: 20px;
}

.fa {
    padding: 0 5px;
}


/*************************** END: Global Classes ******************************/

/*************************** START: Boxes and Lines ***************************/

.about-band,
.about-member,
.text-box,
.disco-album {
    color: #222;
    background: rgba(230, 230, 250, 0.6);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 4px 5px 6px rgba(51, 51, 51, 0.7)
}

.about-band {
    padding: 15px 10px;
}

.about-member {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.text-box,
.disco-album {
    margin-top: 10px;
    margin-bottom: 10px;
}

.thumbnail {
    padding: 1px;
    height: 180px;
    box-shadow: 3px 4px 5px rgba(51, 51, 51, 0.8)
}

.album-art {
    height: 180px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.hr-media {
    margin-top: 25px;
    margin-bottom: 7px;
}

.hr-album {
    margin: 10px auto;
    width: 50%;
}

/*************************** END: Boxes and Lines *****************************/

/*************************** START: Index('About') Classes ********************/

.headshot-dj,
.headshot-mn,
.headshot-pt,
.headshot-md {
    /* Have to use !important as Chrome loses these settings when the below individual background urls apply */
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    min-height: 190px;
    padding: 0;
}

.headshot-dj {
    background: url("../img/dj_thumb.jpg");
}

.headshot-mn {
    background: url("../img/mn_thumb.jpg");
}

.headshot-pt {
    background: url("../img/pt_thumb.jpg");
}

.headshot-md {
    background: url("../img/md_thumb.jpg");
}

/*************************** END: Index('About') Classes ***********************/

/*************************** START: Booking Classes ****************************/

.form-control {
    margin-bottom: 3px;
}

.center-form {
    margin-top: 15px;
}

.center-form form button {
    margin-top: 5px;
    color: #222;
}

/*************************** END: Booking Classes ******************************/

/*************************** START: Album Classes ******************************/

.track-list li {
    text-transform: capitalize;
}

.track-list li:nth-child(odd) {
    color: aliceblue;
}

/*************************** END: Album Classes ** *****************************/

/*************************** START: @media Queries *****************************/

@media(max-width: 768px) {
    .about-band {
        margin-left: -10px;
        margin-right: -10px;
    }
    .about-member {
        margin-left: -5px;
        margin-right: -5px;
    }
    .text-box,
    .disco-album {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .disco-album {
        max-width: 220px
    }
}

@media(min-width: 992px) {
    .disco-album {
        /* Fixes grid losing alignment ~1000px screen width */
        min-height: 200px;
    }
    .center-form {
        margin: 15px auto;
        max-width: 650px;
    }
}

@media(min-width: 1200px) {
    #nav_top {
        margin-top: 34px;
    }
}

@media(min-width: 2500px) {
    body {
        font-size: 28px;
    }
    h1,
    .h1 {
        font-size: 72px;
    }
    h2,
    .h2 {
        font-size: 60px;
    }
    h3,
    .h3 {
        font-size: 48px;
    }
    h4,
    .h4 {
        font-size: 36px;
    }
    h5,
    .h5 {
        font-size: 28px;
    }
    h6,
    .h6 {
        font-size: 24px;
    }
    audio {
        height: 50px;
    }
    video {
        height: 720px;
    }
    .logo {
        min-height: 220px;
    }
    #nav_top {
        font-size: 36px;
    }
    .menuitem a {
        max-width: 400px;
    }
    .main-body-content {
        min-height: calc(100vh - 225px);
    }
    .thumbnail {
        height: 360px;
    }
    .album-art {
        height: 360px;
    }
    .headshot-dj,
    .headshot-mn,
    .headshot-pt,
    .headshot-md {
        min-height: 380px;
    }

}

/*************************** END: @media Queries ******************************/
